<h1>Edit book</h1>

<form id="edit-book" name="book">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
  </div>

  <div>
    <label for="status"> Have you read this book? </label>
    <select name="status" id="status">
     <% if (status == null) { %>
       <option selected></option>
     <% } %>
     <% if (status == "Read") { %>
       <option value="Read" selected>Read</option>
     <% } else { %>
       <option value="Read">Read</option>
     <% } %>

     <% if (status == "Not Read") { %>
       <option value="Not Read" selected>Not Read</option>
     <% } else { %>
       <option value="Not Read">Not Read</option>
     <% } %>
    </select>
  </div>

  <div class="actions">
    <input type="submit" value="Update Book" />
  </div>

</form>

<a href="#/index">Back</a>