<table id="books-table">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Book</a>
<br />
<a href="#/search">Search Book</a>
