<h1>Listing books</h1>

<table id="books-table">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Book</a>