<div class = "center hero-unit">
	<h1>Welcome to Shelfari</h1>

	<table id="books-table" class="table table-bordered table-striped">
	  <tr>
	    <th>Name</th>
	    <th>Author</th>
	    <th>Status</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</table>
</div>

<br/>

