<div class = "center hero-unit">
  <h1>New book</h1>

  <form id="new-book" name="book" class="form-horizontal">
    <div class="control-group">
      <div class="field">
        <label for="name" class="control-label"> Name </label>
        <div class="controls">
          <input type="text" name="name" id="name" value="<%= name %>" >
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="field">
        <label for="author" class="control-label"> Author </label>
        <div class="controls">
          <input type="text" name="author" id="author" value="<%= author %>" >
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="field">
        <label for="status" class="control-label"> Have you read this book? </label>
        <div class="controls">
          <select id="status" name="status">
            <option></option>
            <option value="Read">Read</option>
            <option value="Not Read">Not Read</option>
          </select>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="actions">
        <div class="controls">
          <input type="submit" value="Create Book" />
        </div>
      </div>
    </div>


  </form>

  <a href="#/index" class="btn btn-link btn-large pull-right">Back</a>
</div>