<h1>New book</h1>

<form id="new-book" name="book">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
  </div>

  <div class="field">
    <label for="status"> status:</label>
    <input type="text" name="status" id="status" value="<%= status %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Book" />
  </div>

</form>

<a href="#/index">Back</a>