<div class = "center hero-unit">
  <h1>New book</h1>

  <form id="new-book" name="book">
    <div class="field">
      <label for="name"> Name </label>
      <input type="text" name="name" id="name" value="<%= name %>" >
    </div>

    <div class="field">
      <label for="author"> Author </label>
      <input type="text" name="author" id="author" value="<%= author %>" >
    </div>

    <div class="field">
      <label for="status"> Have you read this book? </label>
      <select id="status" name="status">
        <option></option>
        <option value="Read">Read</option>
        <option value="Not Read">Not Read</option>
      </select>
    </div>

    <div class="actions">
      <input type="submit" value="Create Book" />
    </div>

  </form>

  <a href="#/index" class="btn btn-primary">Back</a>
</div>