

<h1>Search book</h1>

<form id="search-book" name="searchBook">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="searchParam" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Search Book" />
  </div>

</form>

<br/>

<table id="books-table">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<a href="#/index">Back</a>