<div class = "center hero-unit">
<h1>Search book</h1>

<form id="search-book" name="searchBook" class="form-horizontal">
  <div class="control-group">
    <div class="field">
      <label for="name" class="control-label"> Name</label>
      <div class="controls">
        <input type="text" name="name" id="searchParam" value="<%= name %>" >
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="actions">
      <div class="controls">
        <input type="submit" value="Search Book" />
      </div>
    </div>
  </div>

</form>

<br/>

<table id="books-table" class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<a href="#/index" class="btn btn-link btn-large pull-right">Back</a>
</div>