

<h1>Search book</h1>

<form id="search-book" name="searchBook">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="searchParam" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Search Book" />
  </div>

</form>

<a href="#/index">Back</a>